.app-header {

}
.app-header_ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  list-style: none;
}
.app-header_ul_li{
  flex-grow: 0;
  width: 100px;
  height: 24px;
  margin-right: 10px;
}
.app-header_ul_li_NavLink{
  display: block;
  width: 100%;
  height: 100%;

  text-decoration: none;
  text-align: center;
  line-height: 24px;
  font-size: 20px;

  background-color: #e5e5e5;

  &.--active {
    background-color: #d4e5ff
  }
  &:hover{
    background-color: #557;
    color: #fff;
  }
}